<div class="sidebar">
    <h2>GU-BOT</h2>

    <a href="/admin">Dashboard</a>
    <a href="/admin/users">Usuarios</a>
    <a href="/admin/messages">Mensajes</a>
    <a href="/admin/broadcast">Broadcast</a>
    <a href="/admin/logout">Cerrar sesión</a>
</div>