<!DOCTYPE html>
<html>
<head>
    <title>Broadcast</title>
    <link rel="stylesheet" href="/public/admin.css">
</head>
<body>

<%- include('partials/sidebar') %>

<div class="content">

<h1>Broadcast</h1>

<% if(result) { %>
<p><%= result %></p>
<% } %>

<form method="POST">

<textarea
name="message"
placeholder="Mensaje global"
rows="6"
></textarea>

<button>Enviar a todos</button>

</form>

</div>

</body>
</html>