<!DOCTYPE html>
<html>
<head>
    <title>Mensajes</title>
    <link rel="stylesheet" href="/public/admin.css">
</head>
<body>

<%- include('partials/sidebar') %>

<div class="content">

<h1>Mensajes</h1>

<div class="table-container">

<table>

<tr>
    <th>Usuario</th>
    <th>Mensaje</th>
    <th>Fecha</th>
</tr>

<% messages.forEach(msg => { %>
<tr>
    <td>@<%= msg.username %></td>
    <td><%= msg.message %></td>
    <td><%= msg.date %></td>
</tr>
<% }) %>

</table>

</div>

</div>

</body>
</html>